body {
  background-color: black;
  font-size: 22px;
  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;
}
.header {
  display: flex;
  height: 69px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-bottom: 1px solid seashell;
  position: fixed;
}


.logo img {
  padding-left: 10px;
  height: 50px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation li {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: underline;
}

.top {
    height: 700px;
    background: url("Images/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-size: auto 700px;
    background-position: center;
}

.titles {
  position: relative;
  width: 100%;
  background: black;
  top: 300px;
  text-align: center;
}
